.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/back-4.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    margin: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
}

.hero-content .profile{
    width: 25%;
    border: 1px solid rgb(179,179,179);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(204, 203, 203);
    transition: 0.5s;
}

.hero-content .profile:hover{
    cursor: pointer;
    width: 25%;
    border: 20px solid rgb(179,179,179);
    border-radius: 50%;
}

.hero-content div{
    padding: 20px;
    color: black;
    background-color: white;
    max-width: 30rem;
    border-radius: 10px;
    box-shadow: 5px 5px 3px white;
}

.explore{
    font-size: 20px;
    padding: 15px;
    width: 200px;
}

.explore:hover{
    background: black;
    color: white;
}

.hero-content h1{
    color: white;
}
